#content{
    height:440px;
    width:900px;
    overflow:hidden;
    margin:220px auto;
    border:1px solid #808080;
}
#header{
    width:99%;
    border:1px solid blue;
    height:64px;
    margin:0px auto;
}
div .left{
    width:48%;
    float:left;
    border-right:1px solid green;
    height:48px;
    float:left;
    margin-top:6px;
    margin-left:20px;
}
.fl{
    float:left;
    margin:4px;
    font-size:28px;
    color:red;
    //border-right:1px solid green;
    width:54px;
}
.tmp{
    width:40%;
    margin-left:-10px;
}
.t{
    font-size:13px;
    margin-top:5px;
    margin-left:-2px;
    margin-bottom:0px;
    width:100%;
}
.f{
    font-size:15px;
    width:100%;
    margin-top:0px;
    margin-left:-2px;

}
