{% extends "base.html" %}
{% load staticfiles %}
{% load cache %}

{% block content %}
        <div id="content-title">
        {% block content_title %}
        {% include "webblog/content_title.html" %}
        {% endblock %}
        </div>

        <div id="main">
        {% block main_content %}
        <!-- this block trend tobe overwrite -->
        {% endblock %}
        </div>
{%  endblock %}

{% block sidebar %}
{% cache 3600 sidebar %}
{% include "webblog/sidebar.html" %}
{% endcache %}
{% endblock %}

{% block foot %}
{% include "foot.html" %}
{% if debug %}
        <div style="background-color:#e3e3e3;">
          {% for sql in sql_queries %}
          <p>{{ sql.sql }}</p>
          <p>time:{{ sql.time }}</p>
          {% endfor %}
        </div>
{% endif %}
{% endblock %}
