{% comment %}
{% extends "blog/base.html" %}
{% endcomment %}
{% block content %}
<div>
  <p>个人blog首页</p>
  <p>暂时没想好页面要做什么</p>
  <div id="category">
      <ul>
        {% for c in cate %}
          <li>{{ c }}</li>
        {% endfor %}
      </ul>
      <ul>
        {% for t in tag %}
        <li> {{ t }}</li>
         <ul>
             <li>{{ t.tag_id }}</li>        
             <li><a href="{% url webblog.views.index %}">{{ t.tag_name }}</a></li>
             <li>{{ t.desc }}</li>
             <li>{{ t.create_time }}</li>
             <li>{{ t.tag_rate }}</li>
         </ul>
        {% endfor %}
      </ul>
  </div>
</div>
{% endblock %}
