<div id="cate">
    <h4>文章分类</h4>
    <ol>
        <li>emacs</li>
        <li>vim</li>
        <li>django</li>
        <li>python</li>
        <li>ruby</li>
    </ol>
</div>
<div id="cate">
    <h4>Tag分类</h4>
    <ol>
        <li>emacs</li>
        <li>vim</li>
        <li>django</li>
        <li>python</li>
        <li>ruby</li>
    </ol>
</div>
<div id="cate">
    <h4>热门评论</h4>
    <ol>
        <li>emacs</li>
        <li>vim</li>
        <li>django</li>
        <li>python</li>
        <li>ruby</li>
    </ol>
</div>
<div id="cate">
    <h4>评论最多</h4>
    <ol>
        <li>emacs</li>
        <li>vim</li>
        <li>django</li>
        <li>python</li>
        <li>ruby</li>
    </ol>
</div>
<div id="cate">
    <h4>近期更新</h4>
    <ol>
        <li>emacs</li>
        <li>vim</li>
        <li>django</li>
        <li>python</li>
        <li>ruby</li>
    </ol>
</div>
